<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mongo Sk8er News Scraper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/styles.css">
 </head>
<body>
 
    {{{body}}}
 
</body>
</html>